<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Clientes</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header border-warning">

          <div [hidden]="loadData" class="row mb-1">

            

            <div class="col-6 col-sm-6 col-xl-3 mr-auto">
              <input class="form-control" placeholder="Buscar cliente" (keyup)="applyFilter($event)">
            </div>

            <div class="col-4 col-sm-3 col-xl-2 ml-auto">
              <button class="btn btn-block bg-gradient-warning"
              type="button" (click)="newClient()">Nuevo Cliente</button>
            </div>
          

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Desplegar">
                <i class="fas fa-minus"></i>
              </button>
              <button *ngIf="!screenSizeSM" type="button" class="btn btn-tool" data-card-widget="remove" title="Cerrar">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>

        </div>
        <div class="card-body">

          <div class="mat-table-container">
          
          <table [hidden]="loadData" mat-table [dataSource]="dataSource" 
          multiTemplateDataRows matSort matSortStart="desc"
          class="mat-elevation-z8 matTable-table">

            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Apellido Column -->
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef> Apellido </th>
              <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
            </ng-container>
          
            <!-- Email Column -->
            <ng-container *ngIf="!screenSizeSM" matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Telefono Column -->
            <ng-container *ngIf="!screenSizeSM" matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Telefono </th>
              <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
            </ng-container>
          
            <!-- CreateAt Column -->
            <ng-container *ngIf="!screenSizeSM" matColumnDef="createAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado en </th>
              <td mat-cell *matCellDef="let element"> {{element.createAt}} </td>
            </ng-container>

            <!-- Observar Column -->
            <ng-container matColumnDef="observar">
              <th mat-header-cell *matHeaderCellDef> Observar </th>
              <td mat-cell *matCellDef="let element">
                <button 
                  class="btn btn-sm btn-warning mr-2"
                  (click)="expandedElement = expandedElement === element ? null : element">
                  <i class="fas fa-eye"></i>
                </button>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  
                  <ul class="pl-0">
                    <li class="py-2" *ngIf="screenSizeSM">
                      <span class="mx-2 text-muted">·</span> 
                      <strong class="mat-header-cell">Email:</strong>
                      {{ element.email }} 
                    </li>
                    <li class="py-2" *ngIf="screenSizeSM"> 
                      <span class="mx-2 text-muted">·</span> 
                      <strong class="mat-header-cell">Telefono:</strong>
                      {{ element.telefono }}
                    </li>
                    <li class="py-2" *ngIf="screenSizeSM"> 
                      <span class="mx-2 text-muted">·</span> 
                      <strong class="mat-header-cell">Creado en:</strong>
                      {{ element.createAt }}
                    </li>
                  </ul>

                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">No se encontro el cliente</td>
            </tr>

          </table>

          <div *ngIf="loadData" class="text-center m-5">
            <div class="spinner-border"></div>
          </div>

          </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer bg-white">
          <mat-paginator [hidden]="loadData" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

