<aside class="main-sidebar sidebar-light-secondary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link navbar-secondary">
      <img src="../../assets/img/AdminLTELogo.png" alt="MikarFarma" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-ligh h4" style="color:whitesmoke"><b>MIKAR</b>FARMA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../assets/img/guest.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info textotrespuntos">
          <span class="brand-text font-weight-ligh h5" style="color:rgb(73, 74, 77)">Hola {{ nomb }} {{ apel }}</span>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2" style="opacity: .8">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="['/']" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Inicio
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="['/clientes']" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Clientes
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/productos']" class="nav-link">
              <i class="nav-icon fas fa-pills"></i>
              <p>
                Productos
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/ventas']" class="nav-link">
              <i class="nav-icon fas fa-money-bill"></i>
              <p>
                Ventas
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/compras']" class="nav-link">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>
                Compras
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/usuarios']" class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>
                Usuarios
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/almacen']" class="nav-link">
              <i class="nav-icon fas fa-warehouse"></i>
              <p>
                Almacen
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/comprobantes']" class="nav-link">
              <i class="nav-icon fas fa-receipt"></i>
              <p>
                Comprobantes
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/laboratorios']" class="nav-link">
              <i class="nav-icon fas fa-vials"></i>
              <p>
                Laboratorios
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/reportes']" class="nav-link">
              <i class="nav-icon fas fa-file-pdf"></i>
              <p>
                Reportes
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/dashboard']" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right far fa-hand-point-right"></i>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn text-left" (click)="logout()">
              <i class="nav-icon fas fa-power-off"></i>
              <p>
                Cerrar Session
                <i class="right fab fa-500px"></i>
              </p>
            </a>
          </li>
          <!-- Para futuros ampliacion del proyecto -->
          <!--  
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Charts
                <i class="right far fa-hand-point-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../charts/chartjs.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ChartJS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../charts/flot.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Flot</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../charts/inline.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inline</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../charts/uplot.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>uPlot</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-header">EXAMPLES</li>
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Gallery
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Mailbox
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../mailbox/mailbox.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inbox</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../mailbox/compose.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Compose</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../mailbox/read-mail.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Read</p>
                </a>
              </li>
            </ul>
          </li>-->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
