<div class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-success">
        <div class="card-header text-center">
          <span class="h1"><b>MIKAR</b>FARMA</span>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Registrate para iniciar sesion</p>
    
          <form
            autocomplete="off"
            [formGroup]="f"
            (ngSubmit)="login()"
          >
            <div class="input-group mb-3">

              <input 
               type="text"
               class="form-control"
               placeholder="Usario"
               formControlName="username"
               [ngClass]="{'is-invalid': invalidField('username')}"
               >

              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>

              <div class="invalid-feedback">Campo vacío, completar campo</div>

            </div>
            <div class="input-group mb-3">
              
              <input
               type="password"
               class="form-control"
               placeholder="Contraseña"
               formControlName="password"
               [ngClass]="{'is-invalid': invalidField('password')}"
              >

              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>

              <div class="invalid-feedback">Campo vacío, completar campo</div>

            </div>
            <br>
            <div class="row">
              <!-- /.col -->
              <div class="col-12">
                <button type="submit" class="btn btn-success btn-block">Iniciar Sesion</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
</div>